{%extends 'base.html' %}

{% block content %}
<main>
    <div>
       <h1>My Tasks</h1>
       {% if tasks  %}
       <table style = "width:15%">
        <thead>
            <tr>
                <th><b>Name</b></th>
                <th><b>Start date</b></th>
                <th><b>Due date</b></th>
                <th><b>Is completed</b></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date}}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.is_completed|yesno }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p> You have no tasks </p>
    {% endif %}
    </div>
</main>
{% endblock content %}