{%extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h1>{{project.name}}</h1>
        <p>{{project.description}}</p>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new task</a></p>
    {% if project.tasks.all %}
        <table>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Assignee</td>
                    <td>Start date</td>
                    <td>Due date</td>
                    <td>Is completed</td>
                </tr>
            </thead>
            <tbody>
                {% for task in project.tasks.all %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee}}</td>
                    <td>{{ task.start_date}}</td>
                    <td>{{ task.due_date}}</td>
                    <td>{{ task.is_completed|yesno}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> This project has no tasks </p>
    {% endif %}
    </div>
</main>
{% endblock content %}

<!-- inorder to initialize the if, you have to place a .all at the end. This will pass through all the tasks that are avaialble within tasks, rather than acklowleding the list by itself which gave conflict
    and remember to use forloops when iterating through a column, and to pass through all the dictionary from views -->