{%extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1> My Projects </h1>
        <div><p><a href="{% url 'create_project' %}">Create a new project</a></div>
        {% if projects|length == 0 %}
        <p> You are not assigned to any projects </p>
        {% else %}
        <table style = "width:15%">
            <thead>
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Number of tasks</b></th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href="{% url 'show_project' project.id%}">{{ project.name }}</a></td>
                    <td>{{project.tasks.all|length}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>

{% endblock content %}